/* .App {
  text-align: center;
} */
.wrapper {
  width: 1250px;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-end {
  justify-content: end;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.column {
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.no-list-style {
  list-style: none;
}
li {
  font-size: 1rem;
  font-weight: 500;
}
