/* .App {
  text-align: center;
} */
.wrapper {
  width: 1250px;
}
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-end {
  justify-content: end;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.column {
  flex-direction: column;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-4 {
  gap: 4rem;
}
.no-list-style {
  list-style: none;
}
li {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Roboto Condensed";
  letter-spacing: 0.08em;
  color: #242424;
}
.activeToggle {
  color: #3d3d3f !important;
  font-size: 1.1rem;
}
.nonActive {
  color: #a9a7a6;
  font-size: 1.1rem;
}
.footerList {
  list-style: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: "Roboto Condensed";
  letter-spacing: 0.04em;
}
.footerList li {
  color: #eeeeee;
  font-size: 0.9rem;
  margin-top: 1rem;
}
#allProducts:hover > div {
  left: 0px !important;
}
#productCard:hover > img {
  margin-top: -150px !important;
}
